<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">
    {{pageTitle}}
  </a>
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" [routerLink] = "['/welcome']">Inicio</a>
    </li>
    <li>
      <a class="nav-link" [routerLink] = "['/products']">Productos</a>
    </li>
  </ul>
</nav>
<!-- AQUI VA UN CONTENEDOR PARA PONER LAS OPCIONES DE
RUTEO, E.D. PARA MOSTRAR LAS VISTAS CORRESPONDIENTES
AL MENU-->
<div class="container">
  <router-outlet></router-outlet>
</div>